body {
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS';
}
h1 {
    font-size: 210%;
    color: #7FF3F9;
    text-align: center;
}
p {
    color: #50DDE5;
    font-size: 110%;
}
#school {
    font-size: 120%;
    color: #2AE4EF;
}
h2 {
    font-size: 210%;
    color: #7FF3F9;
    text-align: center;
}
h3 {
    font-size: 150%;
    color: #7FF3F9;
}
button {
    font-size: 100%;
    background-color: gray;
    color: white;
}