h1 {
    font-size: 210%;
    color: #7FF3F9;
    text-align: center;
}
body {
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS';
}
.logo img{
    float: left;
    padding: 0 20px 20px 0;
}
.name {
    color: #50DDE5;
}
h2 {
    font-size: 210%;
    color: #7FF3F9;
    text-align: center;
}
h3 {
    color: #7FF3F9;
}
button {
    font-size: 100%;
    background-color: gray;
    color: white;
}
#spacing {
    padding-right: 10px;
}
p {
    color: #50DDE5;
}